.center {
    margin: 0 auto;
    max-width: 80%;
    
    justify-content: center;
  }
  
  .contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .info-card,
  .contact-form {
    flex: 1;
    max-width: 45%;
    min-width: 280px;
    background-color: #e8e8e8;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .info-card h2, .contact-form h2 {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  .contact-form button {
    padding: 10px 15px;
    background-color: #2b2b2b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    transform: scale(1.03);
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .center {
      max-width: 90%; /* Meer ruimte voor kleinere schermen */
    }
  
    .contact-section {
      flex-direction: column-reverse;
      justify-content: center; /* Items centraal uitlijnen */
    }
  
    .info-card,
    .contact-form {
      max-width: 100%; /* Volledige breedte voor kleine schermen */
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  