/* General styling for the teams container */
.teams-container {
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
  min-height: 100vh;
  padding-top: 10vh;
}

.teams-container h2 {
  font-weight: 900;
  font-size: 30px;
}

/* Styling for the search input */
.search-input {
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline-color: #ccc;
  width: 100%;
  max-width: 400px;
}


/* Responsive grid layout for the teams */
.teams-grid {
  display: grid;
  grid-template-columns: repeat( 3, minmax(400px, 1fr));
  gap: 50px 0;
  margin-top: 20px;
  margin-left: 5vw;
}

/* Styling for individual team cards */
.team-card {
  background-color: white;
  color: #2b2b2b;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100%;
  max-width: 400px;
  min-width:350px;
}

.team-card h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
}


.team-card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.team-card li {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
  margin-left: 0;
}

/* Responsive mobile */
@media (max-width: 870px) {
  .teams-grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: auto 8vw;
    gap: 20px 0;
  }

  .team-card {
    padding: 10px;
    font-size: 18px;
    border-radius: 25px;
    width: 60%;
    max-width: 60%;
    text-align: left;
  }

  .team-card h3 {
    font-size: 20px;
    text-align: left;

  }

  .team-card li {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .team-card ul {
    display: block;
    width: 90%;
  }

  .team-card li {
    display: block;
    width: 90%;
    text-align: left;
  }
}

/* Responsive tablet */
@media (min-width: 768px) and (max-width: 1300px) {
  .teams-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive desktop */
@media (min-width: 1600px) {
  .teams-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 8.6vw;
  }


}

