* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

#root {
  min-width: 100%;
}

body {
  min-height: 100vh;
  max-width: 100%;
  background-color: #f1f1f1;
}

.container {
  margin-bottom: 10vh;
}




/*! niks veranderen */